{% extends "base.html" %}

{% block main %}
<main>
  <div class="catalogue">
  {% set current_dir = page.url %}
  {% set vs = [2,3]%}
  {% for page_item in pages if page_item.url != current_dir and page_item.url.startswith(current_dir) %}
    {% if page_item.url.split('/') | length > 2 %}
      {% set vs = [ 1,2 ] %}
    {% endif %}
  {% endfor %}
  <hr>
  {{ vs }}
    
  {% for page_item in pages|sort(attribute="date")%}
    {% if page_item.url.split('/') | length > 2 %}
      {% set md = page_item.page %}
      <a href="{{md.url|url}}" class="catalogue-item">
        <div>
          <!-- <span class="catalogue-pinned">Pinned ·</span> -->
          <time datetime="{{md.meta.date}} 00:00:00 +0000" class="catalogue-time">{{md.meta.date}}</time>
          
          <h1 class="catalogue-title">{{md.title}}</h1>
          <div class="catalogue-line"></div>

          <p>{{md.content.split('<!--')[0]}}</p>
        </div>
      </a>
    {% endif %}
  {% endfor %}
    
<!--
  <div class="pagination">
    <a href="/tale/page2" class="right arrow">→</a>
    <span>1</span>
  </div>
-->
  
</main>
{% endblock %}
