init_sql.py
*.sql
__pycache__
*.pyc
.project
.pydevproject
.settings
.DS_Store
func.py
archive.sh
static/media/avatars/*
static/js/vakata-*
nginx_access.log
nginx_error.log
static/media_ng_tmp/
static/media/
*.sketch
settings_local.py
media.tag.gz
