<footer class="footer module-overlay-dark-3">
  <div class="container-fluid container-custom">

    <div class="row">
      <div class="col-sm-12">
        <ul class="contact-info font-alt">
          <li><a href="#">themes@domain.com</a></li>
          <li><a href="#">+(384) 123 4567 891</a></li>
          <li><a href="#">007 STEET, CITY, USA</a></li>
        </ul>
        <div class="copyright text-center font-alt">
          © 2015 <a href="#">Stone</a>, All Rights Reserved.
        </div>
      </div>
    </div>

    <!-- SCROLLTOP -->
    <a class="to-top-link" href="#top">
      <i class="fa fa-angle-up"></i>
    </a>

  </div>
</footer>