<footer class="footer module-overlay-dark-3">
  <div class="container-fluid container-custom">

    <div class="row">
      <div class="col-sm-12">
        <ul class="contact-info font-alt">
          <li>邮箱：<a href="mailto:ryanpoy@gmail.com">ryanpoy@gmail.com</a></li>
          <li>微信：ryanpoy</li>
          <li>微博：ryanpoy@sina.com</li>
          <li>QQ：25672772</li>
        </ul>
        <div class="copyright text-center font-alt">
          Copyright © 2008 <a href="/">彭一</a> 
          Theme By <a href="http://templates.mycookroom.ru/Stone-v1.0.1/Site/index.html">Stone</a> 
        </div>
      </div>
    </div>

    <!-- SCROLLTOP -->
    <a class="to-top-link" href="#top">
      <i class="fa fa-angle-up"></i>
    </a>

  </div>
</footer>