<!-- SIDEBAR -->
<nav class="navbar navbar-custom font-alt">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- YOU LOGO HERE -->
    <a class="navbar-brand" href="index.html">
      <!-- IMAGE OR SIMPLE TEXT -->
      <img class="light-logo" src="{{ static_url('images/logo-light.png') }}" width="95" alt="">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="custom-collapse">

    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="index.html">Image</a></li>
          <li><a href="index-2.html">Slider</a></li>
          <li><a href="index-3.html">Old Film</a></li>
          <li><a href="index-4.html">Youtube video</a></li>
          <li><a href="index-5.html">Youtube video + Sound</a></li>
        </ul>
      </li>

      <li><a href="about.html">About</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="blog.html">Standard</a></li>
          <li><a href="blog-single.html">Single post</a></li>
          <li><a href="blog-single-2.html">Single post - Video</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="portfolio-single.html">Single Work 1</a></li>
          <li><a href="portfolio-single-2.html">Single Work 2</a></li>
          <li><a href="portfolio-single-3.html">Single Work 3</a></li>
          <li><a href="portfolio-single-4.html">Single Work 4 & Youtube</a></li>
          <li><a href="portfolio-single-5.html">Single Work 5 & Vimeo</a></li>
          <li><a href="portfolio-single-6.html">Single Work 6 & Gallery</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Elements</a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="components-1.html">Buttons</a></li>
          <li><a href="components-2.html">Iconbox</a></li>
          <li><a href="components-3.html">Progress bars</a></li>
          <li><a href="components-4.html">Tab & Accordian</a></li>
          <li><a href="components-5.html">Columns</a></li>
          <li><a href="components-6.html">Modules & Overlays</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="portfolio-gutter-3.html">Works Gutter 3 col</a></li>
          <li><a href="portfolio-gutter-4.html">Works Gutter 4 col</a></li>
          <li><a href="portfolio-masonry-3.html">Works Masonry 3 col</a></li>
          <li><a href="portfolio-masonry-4.html">Works Masonry 4 col</a></li>
          <li><a href="sidebar.html">Sidebar & Image</a></li>
        </ul>
      </li>

      <li><a href="contact.html">Contact</a></li>

    </ul>
  </div>

</nav>
