<div style="padding-left: 2em">

  <div class="sticker">
    <div class="name">最新</div>
    {% for a in recent_articles %}
    <div class="sticker-item"><a href="/blogs/{{a.id}}">{{a.title}}</a></div>
    {% end %}
  </div>

  <div class="sticker">
    <div class="name">系列</div>
    {% for s in all_series %}
    <div class="sticker-item"><a href="/blogs/series/{{s.id}}">{{s.name}}</a></div>
    {% end %}
  </div>

  <div class="sticker">
    <div class="name">标签</div>
    {% for a in all_tags %}
    <span class="sticker-item"><a href="/blogs/tags/{{a.id}}">{{a.name}}({{a.article_number}})</a></span>
    {% end %}
  </div>

</div>
