{% extends base.html %}

{% block title %}博客列表{% end %}

{% block main %}
  <div class="article-list">
    {% for a in articles.objects %}
    <div class="article">
      <div class="title"><a href="/blogs/{{a.id}}">{{ a.title }}</a></div>
      <div class="meta">
        By <span>彭一</span> on {{ a.created_on_str() }}
      </div>
      <div class="content">{{ a.limit_content(300) }}</div>
      <div><a class="read-more">阅读全文 →</a></div>
    </div>
    {% end %}
  </div>
  
  {% module PaginationUI(articles, request.uri) %}

{% end %}