{% extends base.html %}

{% block title %}{{article.title}}{% end %}

{% block js %}
<script>
  $(function() {
    // build markdown html
    var $postContentDiv = $("#post-content");
    var markDownHtml = marked($postContentDiv.html());
    $postContentDiv.html(markDownHtml);

    resize();
  })
</script>
{% end %}

{% block main %}
<section class="module">
  <div class="container-fluid container-custom">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <article class="post">
          <div class="post-header">
            <h2 class="post-title font-alt">{{ article.title }}</h2>
            <div class="post-meta">
              By <a href="/">彭一</a> on {{article.created_on_str()}}
            </div>
          </div>
          {% if article.series %}
          <div class="markdown-body post-content">
            <ul>同系列
              {% for a in article.series.first().article_set.all() %}
              <li><a href="/blogs/{{a.id}}">{{a.title}}</a></li>
              {% end %}  
            </ul>
          </div>
          {% end %}
          <div class="markdown-body post-content" id="post-content">
            {{article.content}}
          </div>
        </article>
        <!-- /POST CONTENT -->

        <!-- TAGS -->
        <div class="tags font-serif">
          {% for t in article.tags.all() %}
          <a href="/blogs/tags/{{t.id}}">{{t.name}}</a>
          {% end %}
        </div>
        <!-- /TAGS -->
      </div><!-- .col-* -->
    </div><!-- .row -->
  </div>
</section>
<!-- /POST -->
{#
<!-- COMMENTS MODULE -->
<section class="module">
  <div class="container-fluid container-custom">

    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">

        <!-- COMMENTS -->
        <div class="comments">
          <h4 class="comment-title font-alt">3 comments</h4>
          <hr class="divider divider m-b-40">

          <!-- COMMENT 1 -->
          <div class="comment clearfix">
            <div class="comment-avatar">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg" alt="">
            </div>
            <div class="comment-content clearfix">
              <h5 class="comment-author font-alt">
                <a href="#">John Doe</a>
              </h5>
              <div class="comment-body">
                <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
              </div>
              <div class="comment-meta font-alt">Today, 14:55 - <a href="#">Reply</a></div>
            </div>

            <!-- COMMENT 2 -->
            <div class="comment clearfix">
              <div class="comment-avatar">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/draganbabic/128.jpg" alt="">
              </div>
              <div class="comment-content clearfix">
                <h5 class="comment-author font-alt">
                  <a href="#">Mark Stone</a>
                </h5>
                <div class="comment-body">
                  <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
                <div class="comment-meta font-alt">Today, 14:55 - <a href="#">Reply</a></div>
              </div>
            </div>
            <!-- /COMMENT 2 -->

          </div>
          <!-- /COMMENT 1 -->

          <!-- COMMENT 3 -->
          <div class="comment clearfix">
            <div class="comment-avatar">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" alt="">
            </div>
            <div class="comment-content clearfix">
              <h5 class="comment-author font-alt">
                <a href="#">Andy</a>
              </h5>
              <div class="comment-body">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</p>
              </div>
              <div class="comment-meta font-alt">Today, 14:55 - <a href="#">Reply</a></div>
            </div>
          </div>
          <!-- COMMENT 3 -->

        </div>
        <!-- /COMMENTS -->

        <!-- COMMENT FORM -->
        <div class="comment-form m-t-70 m-b-70">
          <h4 class="comment-form-title">Leave a comment</h4>
          <hr class="divider divider-gross m-b-30">

          <form class="form-horizontal comments-form">
            <div class="form-group">
              <div class="col-sm-12">
                <textarea name="message" class="form-control" placeholder="Leave a comment here..." rows="8"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label font-serif">Name</label>
              <div class="col-sm-10">
                <input id="name" type="text" name="name" class="form-control" placeholder="Name">
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-sm-2 control-label font-serif">E-mail</label>
              <div class="col-sm-10">
                <input id="email" type="email" name="email" class="form-control" placeholder="E-mail">
              </div>
            </div>

            <div class="form-group">
              <label for="website" class="col-sm-2 control-label font-serif">Website</label>
              <div class="col-sm-10">
                <input id="website" type="text" name="website" class="form-control" placeholder="Website">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12 text-right">
                <button class="btn btn-dark">Post Comment</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
#}
{% end %}