<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %} {%end%}" />
    <meta name="keywords" content="{% block keywords %} {%end%}" />
    <meta name="author" content="彭一" />
    <meta baidu-gxt-verify-token="e7e2e1b70c1355929747316a60c7ea46">
    
    <title>{% block title %}{% end %}</title>
    
    <link href="{{ static_url('css/fonts.css') }}" rel="stylesheet">

    <link rel="icon" href="{{ static_url('images/favicon.png') }}">
    <link href="{{ static_url('css/normalize.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/github-markdown.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/application.css') }}" rel="stylesheet">

    {% block css %}{% end %}
{#
    <script src="{{ static_url('js/marked.min.js') }}"></script>
#}
    {% block js %}{% end %}

  </head>
  <body>
    <div id="body-wrapper">
      <div id="left-wrapper">
        {% include _left.html %}
      </div>
      <div id="main-wrapper">
        <div id="main-body">
          {% block main %} {% end %}
        </div>
        <div id="right-wrapper">
          {% include _right.html %}
        </div>
      </div>
    </div>
    {% include _footer.html %}
    <!-- /WRAPPER -->

    <script>
    // 百度的url自动推送
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
    </script>
    {% block js %}{% end %}

  </body>
</html>